<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>openPL</title>
    <link rel="stylesheet" href="../static/style.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  </head>
  <body>
    <div id="center-container">
      <div id="questions">
        <!-- <fieldset>
          <legend>What does "dzien dobry" mean?</legend>

          <label class="display-block">
            <input type="radio" name="question1" />
            Good morning!
          </label>

          <label class="display-block">
            <input type="radio" name="question1" />
            How was your sleep?
          </label>

          <label class="display-block">
            <input type="radio" name="question1" />
            Nice to meet you!
          </label>

          <label class="display-block">
            <input type="radio" name="question1" />
            Can I help you?
          </label>

          <button class="display-block">submit</button>
        </fieldset> -->
      </div>
    </div>

    <script src="../static/script.js"></script>
  </body>
</html>
