#center-container {
  width: 60%;
  margin: auto;
  background-color: ivory;
}

#banner {
  background-color:oldlace;
  height: 200px;
  text-align: center;
  padding-top: 40px;
}

.title-text {
  font-size: large;
  font-weight: bold;
}

.center-align {
  display: block;
  margin: auto;
  text-align: center;
}

.movie-element {
  width: 60%;
  margin: 20px auto;
  border: solid 2px;
  padding: 20px;
  border-radius: 10px;
}

.movie-title {
  font-size: 20px;
}

.button-1 {
  font-size: small;
  border-radius: 10px;
  background-color: white;
}

.small-text {
  font-size: small;
}